body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

#wallpaper-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34; /* Dark background */
    transition: background-color 0.5s ease;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.5em;
}
